@font-face
{
  font-family: Oxygen;
  src: url('/fonts/Oxygen-Regular.ttf');
}

@font-face
{
  font-family: Oxygen;
  src: url('/fonts/Oxygen-Bold.ttf');
  font-weight: bold
}


body
{
  background-color: #333;
  color: #fff;
  font-family: Oxygen;
  margin-top: 0;

  background-image:
    linear-gradient(to top, transparent, #111);

  background-repeat: no-repeat;
}

#title
{
  margin-top: 0;
  margin-left: 170px;
  padding-top: 10px;
}

#logo
{
  height:100px;
  float: left;
  background-color: white;
  background-image:
    linear-gradient(to top, transparent 10%, #000067);
  border: solid 3px black;

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

#nav_bar
{
  height: 100px;
}

a
{
  color: white;
  text-decoration: none;
}

#view
{
  border: solid 5px black;
  background-color: #0066FF;
  float: left;
}

#controls
{
  list-style: none;
  padding-left: 0;
}

#controls li
{
  display: inline;
  background-color: #DE5C1B;
  color: black;

  padding: 10px;
  padding-bottom: 7px;
  margin: 3px;
  float: left;

  cursor: default;
  border: solid 1px black;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#controls :hover
{
  background-color: #DE4A00;
}


#controls li img
{
  height: 30px;
  background-image: linear-gradient(to top, transparent , transparent);
}

#about_button
{
  font-size: 26px;
}


/* Settings Interface */

#settings_overlay
{
  position: relative;
  float: left;

}


#settings
{
  position: absolute;
  top: 0;
  left: 0;

  width: 90%;
  height: 80%;

  color: black;
/*  background-color:orange;
  opacity: 0.6;
*/
  display: none;

  padding: 5%;

  overflow: scroll;
}

#settings p
{
  line-height: 10%
}



/* About Page Text */

#text_blob
{
  border: solid 5px black;
  background-color: #0066FF;


  width: 75%;
  margin: 0 auto;

  padding: 20px;

}
