<h1>N-Body Simulator</h1>

<button onclick='window.Engine.Main()'> Begin Simulation </button> <br> <br>
<canvas id='view' width='600px' height='600px' style='border:solid'> </canvas>
<p id='monitor'> </p>
